# Data Exploration Practical

![DIRISA](https://sdc.dirisa.ac.za/wp-content/uploads/2023/05/Orange_Minimalist_Food_Festival_Logo_2_-removebg-preview.png)

##### IMPORTANT! Run the 3 cells below to access the data.



*   These folders will be made in your current working directory/current folder

### **Instructions**

```

#### **Local Installation**
1. Make sure you have setup a suitable in a suitable directory and download and move this notebook to this your folder.

**Windows**
```
C:\Users\kevin\Documents\DIRISA2025-Training\
```

**Mac/Linux**
```
/home/kevin/Documents/DIRISA2025-Training/
```
2. Simply click this link to [download](https://www.kaggle.com/api/v1/datasets/download/paramvir705/airbnb-data)
3. Create a folder named "data"
3. Extract the zip and move it into the data folder
4. Create a data folder

In [ ]:
!pwd

/content

In [ ]:
!mkdir data

mkdir: cannot create directory ‘data’: File exists

In [ ]:
!curl -L -o ../content/data/airbnb-data.zip\
  https://www.kaggle.com/api/v1/datasets/download/paramvir705/airbnb-data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 31.2M  100 31.2M    0     0  15.5M      0  0:00:02  0:00:02 --:--:-- 33.6M

In [ ]:
#!unzip /content/data/airbnb-data.zip -d /content/data/ && rm /content/data/airbnb-data.zip

In [ ]:
import os
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer

### Section 1: Inspection

##### 1.1 Imports pandas

In [ ]:
import pandas as pd

##### 1.2 Reading in the data

In [ ]:
path = "Airbnb_Data.csv"
df = pd.read_csv(path)

##### 1.3 Inspect the first 5 and last 5 rows of the dataset

In [ ]:
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [ ]:
df.tail()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
74106,14549287,4.605170,Apartment,Private room,{},1,1.0,Real Bed,flexible,False,...,40.709025,-73.939405,one room bushwick,Williamsburg,0,NaN,https://a0.muscache.com/im/pictures/55162426/6...,11206.0,1.0,1.0
74107,13281809,5.043425,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,2.0,Real Bed,moderate,True,...,33.871549,-118.396053,Spacious Hermosa 2 BR on PCH,Hermosa Beach,16,93.0,https://a0.muscache.com/im/pictures/2b86560b-a...,90254,2.0,4.0
74108,18688039,5.220356,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",5,1.0,Real Bed,moderate,True,...,40.706749,-73.942377,Modern 2 Bedroom Apartment in Williamsburg,Williamsburg,43,94.0,https://a0.muscache.com/im/pictures/7fbe448c-5...,11206.0,2.0,2.0
74109,17045948,5.273000,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",2,1.0,Real Bed,strict,True,...,40.738535,-74.000157,Designer's Apartment in HEART of NYC,West Village,0,NaN,https://a0.muscache.com/im/pictures/b3971b63-0...,10011,0.0,2.0
74110,3534845,4.852030,Boat,Entire home/apt,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",4,1.0,Real Bed,moderate,False,...,33.761096,-118.192409,Cozy Boat at Shoreline Village,Long Beach,205,96.0,https://a0.muscache.com/im/pictures/22968537/d...,90802,1.0,2.0

##### 1.4 Get the shape of the dataset

In [ ]:
df.shape

(74111, 29)

##### 1.5 Get the length of the dataset

In [ ]:
len(df)

74111

In [ ]:
df.__len__()

74111

In [ ]:
df.shape[0]

74111

##### 1.6 Get the number of columns in dataset

In [ ]:
len(df.columns)

29

In [ ]:
df.columns.__len__()

29

In [ ]:
df.shape[1]

29

##### 1.7 Print a summary of the data (Hint: call a method/function)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

##### 1.8 Show descriptive statistics of our data (Hint: mean, mode, max, min etc.)

In [ ]:
df.describe()

,id,log_price,accommodates,bathrooms,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
count,7.411100e+04,74111.000000,74111.000000,73911.000000,74111.000000,74111.000000,74111.000000,57389.000000,74020.000000,73980.000000
mean,1.126662e+07,4.782069,3.155146,1.235263,38.445958,-92.397525,20.900568,94.067365,1.265793,1.710868
std,6.081735e+06,0.717394,2.153589,0.582044,3.080167,21.705322,37.828641,7.836556,0.852143,1.254142
min,3.440000e+02,0.000000,1.000000,0.000000,33.338905,-122.511500,0.000000,20.000000,0.000000,0.000000
25%,6.261964e+06,4.317488,2.000000,1.000000,34.127908,-118.342374,1.000000,92.000000,1.000000,1.000000
50%,1.225415e+07,4.709530,2.000000,1.000000,40.662138,-76.996965,6.000000,96.000000,1.000000,1.000000
75%,1.640226e+07,5.220356,4.000000,1.000000,40.746096,-73.954660,23.000000,100.000000,1.000000,2.000000
max,2.123090e+07,7.600402,16.000000,8.000000,42.390437,-70.985047,605.000000,100.000000,10.000000,18.000000

### Section 2: Data Cleaning

##### 2.1 Check for any missing data (NaNs/nulls) and quantify the amount of missing data

In [ ]:
df.isna().sum().sort_values(ascending=False)

host_response_rate        18299
review_scores_rating      16722
first_review              15864
last_review               15827
thumbnail_url              8216
neighbourhood              6872
zipcode                     966
bathrooms                   200
host_identity_verified      188
host_has_profile_pic        188
host_since                  188
beds                        131
bedrooms                     91
description                   0
city                          0
cleaning_fee                  0
cancellation_policy           0
accommodates                  0
bed_type                      0
room_type                     0
amenities                     0
id                            0
log_price                     0
property_type                 0
instant_bookable              0
longitude                     0
latitude                      0
number_of_reviews             0
name                          0
dtype: int64

##### 2.2 Handling Missing Values

Let's handle the missing values using different methods.

##### 2.2.1 Filling missing numerical values with the mean

In [ ]:

numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns

df[numeric_cols ] = df[numeric_cols].fillna(df[numeric_cols].mean())
display(df.isna().sum().sort_values(ascending = False))

host_response_rate         18299
first_review               15864
last_review                15827
thumbnail_url               8216
neighbourhood               6872
zipcode                      966
host_has_profile_pic         188
host_identity_verified       188
host_since                   188
bed_type                       0
accommodates                   0
bathrooms                      0
id                             0
log_price                      0
property_type                  0
room_type                      0
cancellation_policy            0
cleaning_fee                   0
city                           0
description                    0
amenities                      0
longitude                      0
latitude                       0
instant_bookable               0
number_of_reviews              0
name                           0
review_scores_rating           0
bedrooms                       0
beds                           0
days_since_first_review        0
days_since_last_review         0
review_duration                0
dtype: int64

##### 2.2.2 Filling missing numerical values with the median

In [ ]:
numeric = df.select_dtypes(include = ['float64', 'int64']).columns
df[numeric] = df[numeric].fillna(df[numeric].median())
display(df.isna().sum().sort_values(ascending=False))

host_response_rate         18299
first_review               15864
last_review                15827
thumbnail_url               8216
neighbourhood               6872
zipcode                      966
host_has_profile_pic         188
host_identity_verified       188
host_since                   188
bed_type                       0
accommodates                   0
bathrooms                      0
id                             0
log_price                      0
property_type                  0
room_type                      0
cancellation_policy            0
cleaning_fee                   0
city                           0
description                    0
amenities                      0
longitude                      0
latitude                       0
instant_bookable               0
number_of_reviews              0
name                           0
review_scores_rating           0
bedrooms                       0
beds                           0
days_since_first_review        0
days_since_last_review         0
review_duration                0
dtype: int64

##### 2.2.3 Filling missing categorical values with the mode

In [ ]:
df_cat = pd.read_csv(path)
cat_col_with_na = df_cat.select_dtypes(include=['object']).columns[df_cat.select_dtypes(include=['object']).isna().any()]
for col in cat_col_with_na:
  df_cat[col] = df[col].fillna(df[col].mode()[0])

display(df_cat.isna().sum().sort_values(ascending = False))

host_response_rate        18298
review_scores_rating      16722
first_review              15864
last_review               15827
thumbnail_url              8216
neighbourhood              6872
zipcode                     966
bathrooms                   200
host_identity_verified      188
host_has_profile_pic        188
host_since                  188
beds                        131
bedrooms                     91
description                   0
city                          0
cleaning_fee                  0
cancellation_policy           0
accommodates                  0
bed_type                      0
room_type                     0
amenities                     0
id                            0
log_price                     0
property_type                 0
instant_bookable              0
longitude                     0
latitude                      0
number_of_reviews             0
name                          0
dtype: int64

##### 2.2.4 Filling missing values with a constant value

In [ ]:
df_c = pd.read_csv(path)

##### 2.2.5 (**BONUS**) Impute missing values for the neighbourhood column using KNN

### Section 3: Categorical Encoding

##### 3.1 Identifying categorical columns

##### 3.2 Applying One-Hot Encoding

### Section 4: Datetime Handling

##### 4.1 Convert `last_review` and `first_review` columns to datetime objects

##### 4.2 Capture the year and month from the `first_review` and `last_review` columns, use those columns to make other columns that include just the year and month from those two columns

##### 4.3 Filter for listings first reviewed after 2017

##### 4.4 Filter for listings last reviewed within the year June 2017 and March 2019

##### 4.5 Filter for listings first reviewed in the year 2016

### Section 5: Normalization

##### 5.1 Identify numerical columns for normalization (Select all numerical columns)

Recap: Normalization is a technique used to scale numerical features to a similar range, which can prevent features with larger values from dominating those with smaller values in certain algorithms.

##### 5.2 Applying Min-Max Normalization

Use Min-Max Normalization to scale feautures between -1 and 1.

WHen using Python libraries especially for the first time you will encounter many modules and functions that you obviously dont know how to use it is important to learn how do read docstring and methods. Knowing this skill can allow you to learn any library/framework

##### **IMPORTANT**

##### 5.2.1 Reading Doc String

In [ ]:
MinMaxScaler?

From reading the docstring we know can know one:

1. Names of all paramters we can use for the class
2. Data type of the each parameter that we are allow to pass in
3. Default arguements

```feature_range : tuple (min, max), default=(0, 1)
    Desired range of transformed data.```

##### 5.2.2 Reading Source Code of Method/Module

In [ ]:
MinMaxScaler??

##### Now apply Min-Max Normalization

##### 5.3 Applying StandardScaler

Use StandardScaler is another common normalization technique that standardizes features by removing the mean and scaling to unit variance. Use this to scale the numerical features

### Section 6: Feature Engineering

##### 6.1 Creating features from 'amenities'

Let's extract the number of amenities from the 'amenities' column.

##### 6.2 Create a feature for the length of the description. Name the column `description_length`

##### 6.3 Calculate the duration between the first and last review. Save them as `days_since_first_review`, `days_since_last_review` and `review_duration`

In [ ]:
# Ensure date columns are in datetime format (already done in Section 4, but good to be sure)
df['first_review'] = pd.to_datetime(df['first_review'], errors='coerce')
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

# Calculate the difference in days
df['days_since_first_review'] = (pd.to_datetime('today') - df['first_review']).dt.days
df['days_since_last_review'] = (pd.to_datetime('today') - df['last_review']).dt.days
df['review_duration'] = (df['last_review'] - df['first_review']).dt.days

display(df[['first_review', 'last_review', 'days_since_first_review', 'days_since_last_review', 'review_duration']].head())

,first_review,last_review,days_since_first_review,days_since_last_review,review_duration
0,2016-06-18,2016-07-18,3303.0,3273.0,30.0
1,2017-08-05,2017-09-23,2890.0,2841.0,49.0
2,2017-04-30,2017-09-14,2987.0,2850.0,137.0
3,NaT,NaT,NaN,NaN,NaN
4,2015-05-12,2017-01-22,3706.0,3085.0,621.0

[Full EDA and prediction example](https://www.kaggle.com/code/kevinnkansah/airbnb-eda-catboost-r2-score-0-72#Data-Visualization)