In [1]:
import pandas as pd

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
 from google.colab import files
uploaded = files.upload()

In [2]:
#Reading in and viewing the data
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
#Understanding the data
print(df.shape)

(20640, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
print(df['ocean_proximity'].describe())

count         20640
unique            5
top       <1H OCEAN
freq           9136
Name: ocean_proximity, dtype: object

In [7]:
print(df['ocean_proximity'].unique()) # all unique entries in 'ocean_proximity column

['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

In [8]:
print(df['ocean_proximity'].value_counts())

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [9]:
df.isnull().sum() #checking for missing values

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [10]:
median_bedrooms = df['total_bedrooms'].median()
df['total_bedrooms'].fillna(median_bedrooms, inplace=True) #filling missing values

/tmp/ipython-input-10-1428940601.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_bedrooms'].fillna(median_bedrooms, inplace=True) #filling missing values

In [11]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [12]:
Q1 = df['median_house_value'].quantile(0.25)
Q2 = df['median_house_value'].quantile(0.50)
Q3 = df['median_house_value'].quantile(0.75)
IQR = Q3 - Q1

print('Q1 (25th percentile):', Q1)
print('Q2 (50th percentile):', Q2)
print('Q3 (75th percentile):', Q3)
print('IQR (Interquartile Range):', IQR)

Q1 (25th percentile): 119600.0
Q2 (50th percentile): 179700.0
Q3 (75th percentile): 264725.0
IQR (Interquartile Range): 145125.0

In [13]:
print (df.shape)

(20640, 10)

In [15]:
##df = df[~((df['median_house_value'] < (Q1 - 1.5 * IQR)) | (df['median_house_value'] > (Q3 - 1.5 * IQR)))]

In [16]:
##print (df.shape)

(125, 10)

In [16]:
import numpy as np

# Calculate the lower and upper bounds using the IQR method
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Clip the 'median_house_value' column to the calculated bounds
df['median_house_value'] = np.clip(df['median_house_value'], lower_bound, upper_bound)

##Capping(Winsorizing)
##Keeps all rows but limits extreme values to the boundries

In [17]:
print (df.shape)

(20640, 10)

In [18]:
#Handle duplicates
print("Duplicate rows:", df.duplicated().sum())
df = df.drop_duplicates()

Duplicate rows: 0

In [19]:
#Detect incorrect data entries
f = df[df['population'] >= 0]

In [20]:
#Encoding
df['ocean_proximity'] = df['ocean_proximity'].astype('category')
df['ocean_proximity_code'] = df['ocean_proximity'].cat.codes

In [23]:
##df = df.reset_index(drop=True)

In [21]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,ocean_proximity_code
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3

In [22]:
print(df.shape)

(20640, 11)

In [23]:
#Feature Engineering
df['rooms_per_household'] = df['total_rooms'] / df['households']
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']
df['population_per_household'] = df['population'] / df['households']

In [ ]:
##!pip install Scikit-learn

In [24]:
#Normalization
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaler = MinMaxScaler()
num_features = ['housing_median_age','total_rooms','total_bedrooms','population',
                'households','median_income','rooms_per_household','bedrooms_per_room',
                'population_per_household']

In [21]:
##final_df = df.drop(columns=['ocean_proximity'])
##print(final_df.head())

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1175    -121.57     39.48                15.0        202.0            54.0
1176    -121.55     39.50                26.0       3215.0           827.0
1177    -121.54     39.50                38.0       1438.0           310.0
1181    -121.55     39.48                41.0        461.0           107.0
1791    -122.37     37.93                45.0       3150.0           756.0

      population  households  median_income  median_house_value  \
1175       145.0        40.0         0.8252             42500.0
1176      2041.0       737.0         1.0585             45100.0
1177       779.0       275.0         1.3289             39400.0
1181       284.0        90.0         2.2045             41800.0
1791      1798.0       749.0         1.7500             37900.0

      ocean_proximity_code  rooms_per_household  bedrooms_per_room  \
1175                     1             5.050000           0.267327
1176                     1             4.362280           0.257232
1177                     1             5.229091           0.215577
1181                     1             5.122222           0.232104
1791                     2             4.205607           0.240000

      population_per_household
1175                  3.625000
1176                  2.769335
1177                  2.832727
1181                  3.155556
1791                  2.400534