# Introduction into Pandas

## Part 1: Creating a Pandas DataFrame
Can be from a List, Dictionary or List of Dictionaries

In [94]:
# We first import pandas



# using a list


# proudly_sa



# df

In [95]:
# Now from a dictionary


# Define a dictionary



# Create a dataframe from a dictionary

In [96]:
# querying a data frame:

# querying a dataframe column

In [97]:
# Querying a specific value

# Part 2: DataFrames from External Sources
Excel, CSVs and More...

## 2.1 CSV to DataFrame
#### Upload from Google Drive Mount

In [98]:
# imports



# specify the file path


# Read the CSV file into a DataFrame



# df.head() # show the first 5 rows​

# df.tail() # last 5 rows

## 2.2 Excel to DataFrame
#### Upload from Google Drive Mount

In [99]:
# Imports


# Path to file


# Read the Excel file into a DataFrame



#

# Part 3: Dealing with Malformed data
* Sheets don't have headers​
* There are more than one sheet in the Excel File​
* Sheets don't have headers​
* Headers exists, but we would like to rename them to fit
our narrative.


---

##### 3.1 No headers


---

In [100]:
# imports

# get the file path


# Read the Excel file into a DataFrame

In [101]:
# You can specify to pandas that there are no headers:


# It then defaults to numbering the columns

In [102]:
# You can then create your 'own' headers


# specify your header names

##### 3.2 More than one sheet in Excel


---

In [103]:
# import pandas


# Get the file path


# Read the Excel file into a DataFrame


# It only brings out the first sheet

In [104]:
# To get a specific sheet. You specify the sheet name

### 3.3 Information at the Top of the Excel Table


---

In [105]:
# imports


# File Path


# Read the Excel file into a DataFrame

In [106]:
# To get the correct info, skip the rows that don't include the real data

### 3.4 Renaming Headers


---

In [107]:
# Import



# Read the CSV file into a DataFrame

In [108]:
# What if we wanted to rename 'Income' to 'Monthly Income'

# Part 4: Exporting Data


---
After processing, data often needs to be exported for further use



---

### 4.1 DataFrame to CSV
`df.to_csv('path/to/file.csv')`

In [109]:
# Let us pretent the dictionary is from some process...

# Define a dictionary


# Create a dataframe from a dictionary

In [110]:
# Now let us write to a csv file

# first let us specify the file path

# write to a csv

### 4.2 DataFrame to Excel
`df.to_excel('path/to/file.csv')`

In [111]:
# Now let us write to a excel file

# first let us specify the file path

# write to a excel

# Part 5: Modifying DataFrames


---

### 5.1 Replacing

In [112]:
# imports



# Read the Excel file into a DataFrame

In [113]:
# Let us replace -- on numbered columns with  nan

In [114]:
# Replacing in specific columns.

### 5.2 Removing

In [115]:
# imports


# Read the Excel file into a DataFrame

In [116]:
# We want to replace rows with Team names  as --

In [117]:
# If we include the original dataframe, we will only get instances where the result is true

In [118]:
# We the need to reset the index

### Now let us move to removing columns

In [119]:
# We want to remove League and index
# Using Drop

In [120]:
# We want to keep only Team Name, Opponent and Win Probability
# Using Filter


# axis=1 for colunms

#### 5.3 Dropping Duplicates

In [121]:


# Read the CSV file into a DataFrame

In [122]:
# Removing Duplicates


# Have an option of completely dropping by setting keep = False
# You can keep the last entry by specifyin keep = 'last'

In [123]:
# Reset the index

# Part 6: Dates


---

### 6.1 Date as a string

In [124]:

#1. Changing type to date

# imports



# Read the Excel file into a DataFrame

check the type

In [125]:
# Let us check the type of Match Date

Change to datetime

In [126]:
# Change the string date to type datetime

In [127]:
# Let us check the type again

### 6.2 Date, Month and Day in Different Columns

In [128]:

# imports



# Read the Excel file into a DataFrame

Let us combine all the seperate columns of date into a single Match Date column

In [129]:
# Let us combine all the seperate columns of date into a single Match Date