# Hello World;

### 1. Variables

In [2]:
# introduction to variables
x = 1
x

1

### 2. Arithmetics

In [3]:
# Addition +
x, y = 1, 2
z = x + y
z

3

In [4]:
# Subtraction -
x, y = 1, 2
z = x - y
z

-1

In [7]:
# Multiplication X
x, y = 1, 2
z = x * y
z

2

In [9]:
# Division รท
x, y = 1, 2
z = x / y
z

0.5

In [11]:
# Exponent ^
x, y = 1, 2
z = x ** y
z

1

In [12]:
# Parentheses
x, y = 1, 2
z = (x + y)*2
z

6

### 3. Other Operations

In [13]:
# Assigment
x = 4
name = "Bongani"
print("Name is ", name, " and x is ", x)

Name is  Bongani  and x is  4

In [21]:
# Assigment
import random
numbers = [1,2,3,4,5]
x = random.choice(numbers)
print(x)
print(x == 4)

2
False

In [23]:
# Greater/Less than
# Assigment
import random
numbers = [1,2,3,4,5]
x = random.choice(numbers)
print(x)
print("Is x > 4: " , x > 4,"\n", "or is it x < 3: ", x < 3)

3
Is x > 4:  False
 or is it x < 3:  False

In [28]:
# And/Or statements
# Greater/Less than
# Assigment
import random
numbers = [1,2,3,4,5]
x = random.choice(numbers)
print(x)
print(" x > 4 or x < 3: " , x > 4 or  x < 3)
print(" x > 4 and x < 5: " , x > 4 and  x < 5)

4
 x > 4 or x < 3:  False
 x > 4 and x < 5:  False

In [38]:
# Not Operator !/~
import random
numbers = [1,2,3,4,5]
x = random.choice(numbers)
print(x)
print(" x > 4 or x < 3: " , not (x > 4) or  x < 3)
print(" x > 4 and x < 5: " , x > 4 and not x < 5)

5
 x > 4 or x < 3:  False
 x > 4 and x < 5:  True

### 4. If Statements

In [40]:
# Basic example
name = "not Bongani"
if name == "Bongani":
  print("You're the boss")
else:
  print("You're aint shit")

You're aint shit

In [ ]:
# using else

In [ ]:
# string example

In [ ]:
# advanced example

### 5. Loops

In [50]:
# Print a counntdown from 10 till 0
x = 11
for i in range(0, 10):
  x-= 1
  print(x)

10
9
8
7
6
5
4
3
2
1

In [52]:
# while loops
# Print a counntdown from 10 till 0
x = 10
while x >= 0:
  print(x)
  x -= 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# corrected while loops
# Print a counntdown from 10 till 0

In [54]:
# for loops
# count from 0 till 10
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# corrected for loops
# corrected count from 0 till 10

In [55]:
# for loops
# count from 0 till 10 in steps of 2

for i in range(0,11,2):

  print(i)

0
2
4
6
8
10

### 6. Arrays/List

In [ ]:
# Creating an array
array = [1,2,3,4]

In [57]:
# Accessing elements by index\
array = [1,2,3,4]
print(array[0])

1

In [58]:
# Checking all elememts
for x in array:
  print(x)

1
2
3
4

In [59]:
# Modifying an array
array = [1,2,3,4]
array[0] = 100
print(array[0])

100

### 6. Dictionary

In [68]:
# simple dictionary
# get a specif value
# add a new element

salaries = {
    "Bongani" : 100,
    "Nobody" : 0
}

print(salaries["Nobody"])
salaries["Nobody"] = 10000
print(salaries["Nobody"])

0
10000

### 7. Functions

In [ ]:
# Define a function that multiplies two numbers

# Call the function and print the result